<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <h1><i class="fa fa-home" aria-hidden="true"></i>Realestate</h1>
            <p>Professional Realstate Service</p>
            <div class="col-sm-6"><img src="../../assets/img2.jpg" class="img2"></div>
             <div class="col-sm-6" id="body1"><img src="../../assets/building.jpg" class="b1"><div class="text"><h1 class="b2">Start your search</h1><br><p class="b2">Real estate is property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest vested in this an item of real property, buildings or housing in general.</p>
            </div>
            </div><br>
        &nbsp; &nbsp;<br>  &nbsp; &nbsp; &nbsp;<button onclick="myfunc" class="btn-primary">Rent a home</button><button onclick="myfunc" class="btn-primary">Find a home</button>
            </div>
            <div class="row" id="middle">
                <div class="col-sm-4"><h1>We Offer a full line of Realstate Services</h1><P>Real estate is arguably one of the oldest and most diverse industries anywhere in the world. There are so many ways to invest in real estate, sometimes even the most experienced investors have trouble knowing where to begin.Investing in real estate can sometimes feel a little overwhelming, simply because there are so many options available.Part of the reason the commercial real estate market is smaller is that, while everyone needs a place to live,  </P>
                <div class="row">
                    <div class="col-4"><img src="../../assets/realstate1.jpg" style="width:350px " class="p1"></div>
                </div>
                </div>
                
                
            <div class="col-sm-4"><p>New Listings</p><hr></div>
            <div class="row" >
           
                <img src="../../assets/realimg1.png" class="realimg1" id="bg- hover-overlay hover-zoom hover-shadow ripple"><br>
                <img src="../../assets/realimg2.png" class="realimg2"><br>
                <img src="../../assets/realimg3.png" class="realimg3">

            </div>
            <div class="col-sm-4" class="row1"><h1 class="header_1">877 Island Ave</h1><p>Lorem ipsum, dolor sit amet <br>consectetur adipisicing elit. Odio, ratione.</p></div>
            <div class="col-sm-4" class="row2"><h1 class="header_1">419 Normandy Ave</h1><p>Lorem ipsum, dolor sit amet<br> consectetur adipisicing elit. Odio, ratione.</p></div>
            <div class="col-sm-4" class="row3"><h1 class="header_1">BSO Beach Street</h1><p>Lorem ipsum, dolor sit amet<br> consectetur adipisicing elit. Odio, ratione.</p></div>
        </div>
    </div>
    </body>
    </html>